
<div class="header__top">
  <div class="ctnr ctnr-header">
    <div class="p-relative">
      {%- for block in section.blocks -%}
        <p  class="p__header tt-uppercase letter-spacing color-white">
        {{block.settings.text-announcement}}
        </p>
      {% endfor %}
      {% if  section.settings.show_line_separator == true %}
      <select
        class="select__header letter-spacing p-absolute border-0 bg-transparent top-0 right-0 color-white"
        name="locale_code"
        aria-labelledby="FooterLanguageLabelNoScript">
        {%- for language in localization.available_languages -%}
          <option
            value="{{ language.iso_code }}"
            lang="{{ language.iso_code }}"
            {%- if language.iso_code == localization.language.iso_code -%}
              selected
            {%- endif -%}
          >
            {{ language.endonym_name | capitalize }}
          </option>
        {%- endfor -%}
      </select>
    
      {%endif%}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Announcement bar",
    "class": "Announcement-bar-section",
    "max_blocks": 5,
    "settings": [
      {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "Show selector"
      }
    ],
    "blocks":[
    {
      "name": "announcement",
      "type": "announcement",
      "limit": 1,
      "settings": [
        {
        "type": "text",
        "id": "text-announcement",
        "default": "Announcement bar",
        "label": "Heading"
        }
      ]
    }
    ]
  }
{% endschema %}