<section id="register " class="ctnr color-{{ section.settings.color_scheme }}">
  <div class="row jc-center" >
    <div class="clm" style=" --w-lg:10; --w-xs: 12; height: -webkit-fill-available;"></div>
      <div class="distance-shared">
        <h2 class ="h1 title line-height-15em register__title text-align-center ">
          {{ section.settings.heading }}
        </h2>
        <div class="text-align-center">
          {{ section.settings.paragraph }}
        </div>
        <div class="register__form">
          {%- form 'contact', id: 'ContactForm', class:'row' -%}
            {{ form.errors | default_errors }}
            <div class="form-group clm" style="--w-md:6; --w-xs:12;">
                <label for="" class ="label-become title fw-600 w-100 d-block">Title</label>
                <select name="contact[title]" id="" class=" form-control w-100">
                    <option >Miss</option>
                    <option>Miss 2</option>
                </select>
                <span class="form-message"></span>
            </div>
            <div class="form-group clm" style="--w-md:6; --w-xs:12;">
                <label for="" class ="label-become title fw-600 w-100 d-block">First name*</label>
                <input id="firstname" name="contact[firstname]" type="text" placeholder="Insert your name" class=" form-control w-100">
                <span class="form-message"></span>
            </div>
            <div class="form-group clm" style="--w-md:6; --w-xs:12;">
              <label for="" class ="label-become title fw-600 w-100 d-block">Sur name*</label>
              <input id="surname" name="contact[surname]" type="text" placeholder="Insert your surname" class=" form-control w-100">
              <span class="form-message"></span>
            </div>
            <div class="form-group clm" style="--w-md:6; --w-xs:12;">
              <label for="" class ="label-become title fw-600 w-100 d-block">Email*</label>
              <input id="email" name="contact[email]" type="text" placeholder="Insert your email" class=" form-control w-100">
              <span class="form-message"></span>
            </div>
            <div class="form-group clm" style="--w-md:6; --w-xs:12;">
              <label for="" class ="label-become title fw-600 w-100 d-block">Phone</label>
              <input id="phone" 
                name="contact[phone]" 
                type="text" 
                placeholder="Insert your phone" 
                pattern="[0-9\-]*"
                class=" form-control w-100">
              <span class="form-message"></span>
            </div>
            <div class="form-group clm" style="--w-md:6; --w-xs:12;">
              <label for="" class ="label-become title fw-600 w-100 d-block">City</label>
              <input id="city" name="contact[city]" type="text" placeholder="Insert your city" class=" form-control w-100">
              <span class="form-message"></span>
            </div>
            <div class="form-group clm" style="--w-md:6; --w-xs:12;">
                <label for="" class ="label-become title fw-600 w-100 d-block">Company</label>
                <input id="company" name="contact[company]" type="text" placeholder="Insert your company here" class=" form-control w-100">
                <span class="form-message"></span>
            </div>
            <div class="form-group clm" style="--w-md:6; --w-xs:12;">
                <label for="" class ="label-become title fw-600 w-100 d-block">Province</label>
                <select name="contact[province]" id="" class=" form-control w-100">
                    <option>Miss</option>
                    <option>Miss</option>
                </select>
                <span class="form-message"></span>
            </div>
            <div class="form-group clm" style="--w-md:6; --w-xs:12;">
                <label for="" class ="label-become title fw-600 w-100 d-block">Vat number</label>
                <input id="Vatnumber" name="contact[vatnumber]" type="text" placeholder="Insert your VAT number" class=" form-control w-100">
                <span class="form-message"></span>
            </div>
            <div class="form-group clm" style="--w-md:6; --w-xs:12;">
                <label for="" class ="label-become title fw-600 w-100 d-block">Request</label>
                <select name="contact[request]" id="" class=" form-control w-100">
                    <option >Dealer</option>
                    <option >Dealer</option>
                </select>
                <span class="form-message"></span>
            </div>
            <div class="form-group clm" style="--w-md:12; --w-xs:12;">
                <label for="" class ="label-become title fw-600 w-100 d-block">Message</label>
                <textarea name="contact[message]" id="message" cols="30" rows="10" placeholder="Write your message here" class=" form-control w-100"></textarea>
                <span class="form-message"></span>
            </div>
            <div class="form-group form_check-robo  clm d-flex align-items-center" style="--w-md:12; --w-xs:12;">
                <input type="checkbox" class ="check-robo" name="" id="">
                <span>I agree to receive communications regarding exclusive offers, services and news</span>
                <span class="form-message"></span>
            </div>
            <div class="form-group form_check-robo clm d-flex align-items-center" style="--w-md:12; --w-xs:12;">
                <input type="checkbox" class ="check-robo" name="" id="">
                <span>After reading the privacy policy , I consent to the processing of my personal data.</span>
                <span class="form-message"></span>
            </div>
            <button class=" btn btn-dark d-inline-block" type="submit">SEND INQUitry</button>
          {% endform %}
          <div id="successMessage" style="display: none;">Gửi thành công</div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.getElementById("ContactForm").addEventListener("submit", function(event) {
    event.preventDefault();
    document.getElementById("successMessage").style.display = "block";
  });
</script>

{% schema %}  
  {
    "name": "Become form",
    "class":"become-form",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididu </p>"
      },
      { 
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "background-2"
      }
    ]

  }
{% endschema %}