{{ 'email-signup-banner.css' | asset_url | stylesheet_tag }}
<div class="p-relative h-100 ">
  <div class="p-absolute top-0 left-0 w-100 h-100">
    {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg h-100 w-100' }}
   </div>
  <div class=" p-relative w-100 h-100">
    <div class="ctnr h-100">
      <div class="row jc-center w-100 h-100 align-items-center">
        <div class="clm " style="--w-xs: 12;--w-sm: 10; --w-md:10;">
          <div class="email-signup-banner__box bg-white">
            <div class="row jc-center w-100 h-100 align-items-center">
              <div class="clm " style="--w-xs: 12;--w-sm: 10; --w-md:7;">
                <h2 class="h1 line-height-15em letter-spacing d-block text-align-center">
                Opening soon
                </h2>
                <div class=" mt-10 text-align-center">
                  <p>Be the first to know when we launch.</p>
                </div>
                <div class="mt-20">
                <form method="post" action="/contact?oseid=euxwnYwLvw3jTQ3tEi9aQvyY#contact_form" id="contact_form" accept-charset="UTF-8" class="newsletter-form" data-editor-form-attribute=""><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="">
                      <div class="field p-relative">
                        <input id="" type="email" name="contact[email]" class="field__input" value="" aria-required="true" autocorrect="off" autocapitalize="none" autocomplete="email" placeholder="Email" required="">
                        <button type="submit" class="newsletter-form__button field__button p-absolute" name="commit" id="Subscribe" aria-label="Subscribe">
                          <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
                          </path></svg>
                        </button>
                      </div>
                    </div>
                    <input type="hidden" name="oseid" value="euxwnYwLvw3jTQ3tEi9aQvyY">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>