{{ 'cart.css' | asset_url | stylesheet_tag }}
<section class="cart-footer {% if cart == empty %} d-none{% endif %} ">
  <div class="ctnr">
    <div class="cart-footer__content border-top">
      <div class="distance-shared text-align-right">
        <div class="totals d-flex jc-right align-items-center mb-20">
          <h2 class="totals__subtotal fw-400">Subtotal</h2>
          <p class="totals__subtotal-value">
            {% assign total_price = 0 %}
            {% for item in cart.items %}
              {% assign product_price = item.product.price | times: item.quantity %}
              {% assign total_price = total_price | plus: product_price %}
            {% endfor %}
           {{ total_price | money }}
          </p>
        </div>
        <div class="cart_checkout">
          {% if cart.items == empty %}
            <button disabled class="btn  btn-dark d-inline-block tt-capitalize" >Checkout</button>
          {% else %}
            <form action="/checkout" method="post">
              <input type="submit" value="Checkout" class="btn__checkout btn  btn-dark d-inline-block tt-capitalize">
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>