<div class="distance-shared border-top">
  <div class="ctnr text-align-center">
    <p>
      404
    </p>
    <h1 class="h1 title fw-400 tt-capitalize mb-70 mt-70">
      Page not found
    </h1>
    <a href="{{ routes.all_products_collection_url }}" class="btn btn-dark d-inline-block tt-capitalize d-inline-block">
      Continue shopping
    </a>
  </div>
</div>