/* header__top */
.header__top{
    background-color: var(--color-background);
    padding: 13px 0;
    min-height: 50px;
} 
.p__header{
    text-align: left;
   
}
.select__header{
    height: 100%;
}
.select__header button, 
.select__header .list-language{
    background-color: var(--color-background);
}
.select__header button{
    font-size: var(--font-size--secondary);
    border: 0;
}
.select__header button svg{
    margin-left: 8px;
    width: 10px;
    height: 10px;
}
.list-language{
    z-index: 10;
    min-width: 100px;
    right: 0;
    box-shadow: 2px 1px 8px 2px #aaa9a9;
    border-radius: 10px;
    font-size: var(--font-size--secondary);
    display: none;
}
.select__header:hover .list-language{
    display: block;
}
#localeItem{
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 13px;
}
/* header__bottom */
.header__logo{
    line-height: 0;
}

.menu__a{
    padding: 15px 0px;
}
.a-icon__header{
    padding: 25px 13px;
}
.header__icon:last-child a{
    padding-right: 0px;
}
.header__bottom{
    padding: 14px 0px;
    background-color: var(--color-background);
}
.menu__header{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 99;
    padding: 0;
    background-color: var(--color-background);
    width: 100%;
    padding: 15px 0px;
    border-top: 2px dotted var(--bg--danger);
    transform: translateY(400px);
    transition: all ease-in-out .5s;
}
.menu-show{
    visibility:visible;
    opacity: 1;
    transform: translateY(100px);
    transition: all ease-in-out .5s;
}
.menu__ul{
    display: block;
}
.sub-menu{
    border: 1px solid #cecece;
    position: absolute;
    top: 100%;
    min-width: 230px;
    border: 1px solid #f5f5f5;
    background: #ffffff;
    margin: 0;
    transform: scale(1 , 0);
    transform-origin: 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 30px 70px 0px rgba(137,139,142,0.15);
    -moz-box-shadow: 0px 30px 70px 0px rgba(137,139,142,0.15);
    box-shadow: 0px 30px 70px 0px rgba(137,139,142,0.15);
    border-radius: 0;
    padding: 18px 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
}
.menu_li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.sub-menu li{
    min-width: 150px;
    padding: 10px 15px;
}
.header__icon--menu path{
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-in-out;
    stroke-linecap: round;
}
.open-menu.header__icon--menu path:nth-child(1){
    opacity: 0;
}
.open-menu.header__icon--menu path:nth-child(2){
    transform: rotate(45deg);
}
.open-menu.header__icon--menu path:nth-child(3){
    transform: rotate(-45deg);
}
.open-menu.header__icon--menu path:nth-child(4){
    opacity: 0;
}

