.password{
  flex-direction: column;
  height: 100vh;
}
.password-main{
  flex: 1;
}
.password-main > div{
  height: 100%;
}
.header__logo span{
  height: 40px;
  font-size: 34px;
  letter-spacing: 2px;
}
.password-link svg {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}
.password-form{
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.password-field.field{
  flex: 1 20rem;
}
.password-field.field input, 
.password-button{
  height: 4.5rem;
  border-radius: 26px;
}
.password-field.field input{
  padding: 0px 20px;
  border: 2px solid white;
}
.password-button{
  margin-left: 15px;
  line-height: 13px;
  text-transform: inherit;
}
.password__footer-text{
  font-size: var(--font-size--secondary);
}
.password__modal{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  display: none;
  justify-content: center;
  align-items: center;
}
.password__modal.open{
  display: flex;
}
.modal__close-button{
  top: 35px;
  right: 40px;
  border: 0;
}
.modal__close-button svg{
  width: 20px;
  height: 20px;
  color: white;
}
@media (min-width: 768px){
  .header__logo img {
    height: 70px;
  }
}