/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --container: var(--page-width); 
  --heading-1: calc(var(--font-header-scale) * 2rem);
  --heading-2: calc(var(--font-header-scale) * 2.4rem);
  --heading-3: calc(var(--font-header-scale) * 2rem);
  --heading-4: calc(var(--font-header-scale) * 1.6rem);
  --heading-5: calc(var(--font-header-scale) * 1.4rem);
}
html{
    font-size: 10px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-text--primary);
}
img{
    object-fit: cover; 
}
.spect-ratio{
    aspect-ratio: 1/1;
}
strong{
    color: #000;
}
svg{
    cursor: pointer;
}
.d-flex{
    display: flex;
}
.d-grid{
  display:grid
}
.fw-wrap{
    flex-wrap: wrap;
}
.fw-nowrap{
    flex-wrap: nowrap;
}
.d-inline-flex{
    display: inline-flex;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: end;
}
.text-align-center{
    text-align: center;
}
.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
.jc-center{
    justify-content: center;
}
.jc-right{
    justify-content: right;
}
.jc-space-between{
    justify-content: space-between;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.h-100{
    height: 100%;
}
.letter-spacing{
    letter-spacing: 2px;
}
.fw-600{
    font-weight: 600;
}
.fw-400{
    font-weight: 400;
}
.p-relative{
    position: relative;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}
.bottom-0{
    bottom: 0;
}
.p-absolute{
    position: absolute;
}
.tt-uppercase{
    text-transform: uppercase;
}
.tt-capitalize{
    text-transform: capitalize;
}
.text-decoration-underline{
    text-decoration: underline;
}
.bg-transparent{
    background-color: transparent;
}
.border-0{
    border: 0;
}
.font-weight-5{
    font-weight: 500;
}
.overlay::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: var(--bg--primary);
  }
/* ----- column ----- */
.ctnr{
    max-width: var(--container);
    padding-inline: 15px;
    margin: 0 auto;
    width: auto;
}
.full-width{
    max-width: 100%;
}
.ctnr-secondary{
    max-width: var( --container--secondary);
    padding-inline: 15px;
    margin: 0 auto;
    width: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-inline:calc(-1 * var(--gutter));
}
.clm {
    flex: 1 0 auto;
    padding-inline: var(--gutter);
    box-sizing: border-box;
}
[style*="--w-xs"] {
    width: calc(100%/12 * var(--w-xs));
    max-width: calc(100%/12 * var(--w-xs));
}
[style*="--w-xs2"] {
    width: calc((100%) / var(--w-xs2));
    max-width: calc((100%) / var(--w-xs2));
}
@media (min-width: 576px){
    :root{
        --container: var(--page-width);
    }
    [style*="--w-sm"] {
        width: calc((100%/12) * var(--w-sm));
        max-width: calc((100%/12) * var(--w-sm));
    }
    [style*="--w-sm2"] {
        width: calc((100%) / var(--w-sm2));
        max-width: calc((100%) / var(--w-sm2));
    }
}
@media (min-width: 768px){
    :root{
        --heading-1: calc(var(--font-header-scale) * 3rem);
        --font-size--danger:  calc(var(--font-header-scale) * 2.2rem);;
        --container: 720px;
        --gutter:10px;
    }
    [style*="--w-md"] {
        width: calc((100%/12) * var(--w-md));
        max-width: calc((100%/12) * var(--w-md));
    } 
    [style*="--w-md2"] {
        width: calc((100%) / var(--w-md2));
        max-width: calc((100%) / var(--w-md2));
    }
}
@media (min-width: 992px){
    :root{
        --container: 960px;
    }
    [style*="--w-lg"] {
        width: calc((100%/12) * var(--w-lg));
        max-width: calc((100%/12) * var(--w-lg));
    }
    [style*="--w-lg2"] {
        width: calc((100%) / var(--w-lg2));
        max-width: calc((100%) / var(--w-lg2));
    }
}
@media (min-width: 1200px){
    :root{
        --container: var(--page-width);
        --container--secondary: 980px;
    }
    [style*="--w-xl"] {
        width: calc((100%/12) * var(--w-xl));
        max-width: calc((100%/12) * var(--w-xl));
    }
    [style*="--w-xl2"] {
        width: calc((100%) / var(--w-xl2));
        max-width: calc((100%) / var(--w-xl2));
    }
}
/* ----- end column ----- */




    


